//-*Application

mixin application()
  //-*Application block
  section.application
    .application__wrapper
      //-*Text-apps block
      .application__text-apps
        .application__text-top скоро
        h2.application__title Удобное приложение для питомцев и их хозяев
        .application__apps-mobile
          a(href="#")
            img(src="./assets/image/app-store.png" alt="logo").app-store
          a(href="#")
            img(src="./assets/image/google-play.png" alt="logo").google-play
      //-*Image block
      .application__image
        img(src="./assets/image/bigl.png" alt="foto").application__image-bigl
        img(src="./assets/image/application.png" alt="foto").application__image-mobile-app
