//-*Choice

mixin  choice()
  //-*Choice block
  section.choice
    .choice__wrapper
      //-*Title block
      .choice__title
        h1.choice__title-quantity 1 150 000
        .choice__title-text питомцам мы помогли за 18 лет работы
        .choice__title-image
          img(src="./assets/image/bird.png" alt="foto").image-bird
      //-*Advantages block
      .choice__advantages
        h3.choice__advantages-title Почему хозяева выбирают нас?
        .choice__advantages-list
          //-*Time work
          .choice__time-work
            h4.time-work-title Работаем круглосуточно
            .time-work-icon-text
              .time-work-icon
                img(src="./assets/svg/time-work.png" alt="icon").icon-time-work
              .time-work-text Мы готовы в любое время суток принять домашних питомцев и их хозяев
          //-*Services
          .choice__services
            h4.services-title Широкий спектр услуг
            .services-icon-text
              .services-icon
                svg.icon icon-cat-dog
                  use(xlink:href="#icon-cat-dog")
              .services-text Кроме широкопрофильных докторов  в клинике развиты узкие направления в ветеринарии – офтальмология, стоматология, дерматология, травматология, ортопедия и онкология
          //-*Experience
          .choice__experience
            h4.experience-title Большой опыт
            .experience-icon-text
              .experience-icon
                svg.icon icon-hand
                  use(xlink:href="#icon-hand")
              .experience-text 30 высококвалифицированных врачей нашей клиники предоставляют ветеринарную помощь уже на протяжении 18 лет!
          //-*Laboratory
          .choice__laboratory
            h4.laboratory-title Собственная лаборатория
            .laboratory-icon-text
              .laboratory-icon
                svg.icon icon-tube1
                  use(xlink:href="#icon-tube1")
              .laboratory-text Оборудованная профессиональным оснащением производства компании IDEXX International Inc.(США), которое позволяет получить результаты исследования прямо на приеме
          //-*Hospital
          .choice__hospital
            h4.hospital-title Оснащенные стационары
            .hospital-icon-text
              .hospital-icon
                img(src="./assets/svg/house.png" alt="icon").icon-house
              .hospital-text Обычный и инфекционный стационар с индивидуальным подогревом каждой клетки. Для питомцев в критическом состоянии предусмотрены кислородные камеры
          //-*Equipment
          .choice__equipment
            h4.equipment-title Новейшее оборудование
            .equipment-icon-text
              .equipment-icon
                svg.icon icon-microscope
                  use(xlink:href="#icon-microscope")
              .equipment-text Помимо лабораторного оборудования и цифрового рентгена в клинике используется современный эндоскоп KARL STORZ
          //-*Reception
          .choice__reception
            h4.reception-title Запись на прием онлайн
            .reception-text Запись на приём позволяет избежать ожиданий в очереди, но если вы не можете приехать - мы выезжаем на дом!
          //-*Pharmacy
          .choice__pharmacy
            h4.pharmacy-title Аптека и зоомагазин
            .pharmacy-icon-text
              .pharmacy-icon
                svg.icon icon-zoo-shop
                  use(xlink:href="#icon-zoo-shop")
              .pharmacy-text Для удобства в клинике предусмотрен аптечный пункт, а также бутик с одеждой и косметическими средствами для ухода за домашними любимцами
          //-*Salon
          .choice__salon
            h4.salon-title Груминг-салон
            .salon-icon-text
              .salon-icon
                svg.icon icon-grooming
                  use(xlink:href="#icon-grooming")
              .salon-text Отдельный кабинет для проведения гигиенческих и косметических процедур, таких как мытьё и сушка, стрижка или тримминг, уход за ушами, глазами и когтями и многое другое

