//-*History

mixin  history()
  //-*History block
  section.history
    .history__wrapper
      //-*Text block
      .history__text
        h3.history__text-title История компании
        .history__text-content История компании начинается 14 января 1999 года, когда было образовано ООО «Чижи». Идея пришла, т.к. у основателя компании Прозор Жанны Георгиевны была собака боксёр по кличке Бард…
        .history__text-link
          a(href="#") ЧИТАТЬ ДАЛЕЕ
      //-*Specialist block
      .history__specialist
        h3.history__specialist-title Наши специалисты
        //-*Slider Swiper
        div(class="image-slider swiper-container")
          div(class="image-slider__wrapper swiper-wrapper")
            //-*Slides
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist1.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist2.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist3.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist4.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist5.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist6.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist7.png" alt="foto")
            div(class="image-slider__slide swiper-slide")
              .image-slider__image
                img(src="./assets/image/specialist8.png" alt="foto")
          //-*Button slides
          .swiper-button-prev
          .swiper-button-next
        .history__specialis-link  
          a(href="#") ПОСМОТРЕТЬ ВСЕХ

