//-* Services

mixin  services()
  //-*Services block
  section.services
    .services__wrapper
      //-*Card block
      .services__card
        //-*Therapy block
        .services__card-therapy
          .therapy-link-container
            a(href="#").therapy-link 
              h4.title Терапия
              .content-therapy
                .content-text 26 услуг
                .content-therapy-icon
                  svg.icon icon-stethoscope
                    use(xlink:href="#icon-stethoscope")
        //-*Surgery block
        .services__card-surgery
          .surgery-link-container
            a(href="#").surgery-link 
              h4.title Хирургия
              .content-surgery
                .content-text 26 услуг
                .content-surgery-icon
                  svg.icon icon-scalpel
                    use(xlink:href="#icon-scalpel")
        //-*Neurology block
        .services__card-neurology
          .neurology-link-container
            a(href="#").neurology-link 
              h4.title Неврология
              .content-neurology
                .content-text 26 услуг
                .content-neurology-icon
                  svg.icon icon-collar
                    use(xlink:href="#icon-collar")
        //-*Orthopedics block
        .services__card-orthopedics
          .orthopedics-link-container
            a(href="#").orthopedics-link 
              h4.title Ортопедия
              .content-orthopedics
                .content-text 26 услуг
                .content-orthopedics-icon
                  svg.icon icon-bone
                    use(xlink:href="#icon-bone")
        //-*Dermatology block
        .services__card-dermatology
          .dermatology-link-container
            a(href="#").dermatology-link 
              h4.title Дерматология
              .content-dermatology
                .content-text 26 услуг
                .content-dermatology-icon
                  svg.icon icon-paw
                    use(xlink:href="#icon-paw")
        //-*Ophthalmology block
        .services__card-ophthalmology
          .ophthalmology-link-container
            a(href="#").ophthalmology-link 
              h4.title Офтальмология
              .content-ophthalmology
                .content-text 26 услуг
                .content-ophthalmology-icon
                  svg.icon icon-cat
                    use(xlink:href="#icon-cat")
        //-*Cardiology block
        .services__card-cardiology
          .cardiology-link-container
            a(href="#").cardiology-link 
              h4.title Кардиология
              .content-cardiology
                .content-text 26 услуг
                .content-cardiology-icon
                  svg.icon icon-hard
                    use(xlink:href="#icon-hard")
        //-*Dentistry block
        .services__card-dentistry
          .dentistry-link-container
            a(href="#").dentistry-link 
              h4.title Стоматология
              .content-dentistry
                .content-text 26 услуг
                .content-dentistry-icon
                  svg.icon icon-teeth
                    use(xlink:href="#icon-teeth")
        //-*Reproductology block
        .services__card-reproductology
          .reproductology-link-container
            a(href="#").reproductology-link 
              h4.title Репродуктология
              .content-reproductology
                .content-text 26 услуг
                .content-reproductology-icon
                  svg.icon icon-reproductology
                    use(xlink:href="#icon-reproductology")
        //-*Diagnostics block
        .services__card-diagnostics
          .diagnostics-link-container
            a(href="#").diagnostics-link 
              h4.title Визуальная диагностика
              .content-diagnostics
                .content-text 26 услуг
                .content-diagnostics-icon
                  svg.icon icon-visual-diagnostic
                    use(xlink:href="#icon-visual-diagnostic")
        //-*Laboratory block
        .services__card-laboratory
          .laboratory-link-container
            a(href="#").laboratory-link 
              h4.title Лаборатория
              .content-laboratory
                .content-text 26 услуг
                .content-laboratory-icon
                  svg.icon icon-tube2
                    use(xlink:href="#icon-tube2")
        //-*Oncology block
        .services__card-oncology
          .oncology-link-container
            a(href="#").oncology-link 
              h4.title Онкология
              .content-oncology
                .content-text 26 услуг
                .content-oncology-icon
                  svg.icon icon-onko
                    use(xlink:href="#icon-onko")
        //-*Endocrinology block
        .services__card-endocrinology
          .endocrinology-link-container
            a(href="#").endocrinology-link 
              h4.title Эндокринология
              .content-endocrinology
                .content-text 26 услуг
                .content-endocrinology-icon
                  svg.icon icon-endocr
                    use(xlink:href="#icon-endocr")
        //-*Exotic block
        .services__card-exotic
          .exotic-link-container
            a(href="#").exotic-link 
              h4.title Экзотические животные
              .content-exotic
                .content-text 26 услуг
                .content-exotic-icon
                  svg.icon icon-exotic
                    use(xlink:href="#icon-exotic")  
        //-*Pharmacy block
        .services__card-pharmacy
          .pharmacy-link-container
            a(href="#").pharmacy-link 
              h4.title Аптека
              .content-pharmacy
                .content-text 26 услуг
                .content-pharmacy-icon
                  svg.icon icon-zoo-shop
                    use(xlink:href="#icon-zoo-shop")
        //-*Grooming block
        .services__card-grooming
          .grooming-link-container
            a(href="#").grooming-link 
              h4.title Груминг
              .content-grooming
                .content-text 26 услуг
                .content-grooming-icon
                  svg.icon icon-grooming
                    use(xlink:href="#icon-grooming")              